#div1{
  width: 200px;
  height: 200px;
  background-color: red; 
  margin: 0px;
  padding: 0px; 
}

#div2{
  width: 100px;
  height: 100px;
  background-color: yellow; 
  padding: 0px;
  margin: 50px;
  position: absolute;
}

#div3{
  width: 50px;
  height: 50px;
  background-color: blue; 
  padding: 0px;
  margin: 25px;
  position: absolute;
}
